/*

// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*/

body {
  font: 14px, 'Helvetica';
  background-color: #f5f5f5;
  line-height: 1.4em;
  color: #4d4d4d;
  font-weight: 300;
}

h1#page-title {
  font-family: 'Helvetica Neue 25 UltraLight';
  color: #E9D7D7;
  font-size: 100px;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  text-align: center;

}

a {
  text-decoration: none;
}

section#todoapp {
  background-color: white;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
}

table#main {
  position: relative;
  background-color: white;
  width: 100%;
}

tr {
  height: 58px;
}

td {
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  /*padding: 15px 60px 15px 15px;*/
}

td.completed {
  color: #E6E6E6;
  text-decoration: line-through;
}

footer {
  text-align: center;
  padding: 10px 15px;
  color: #E6E6E6;
}

ul#filters {
  display: inline;
  list-style-type: none;
  padding: 0px;
  margin: auto;

  li {
    display: inline;
    word-wrap: break-word;
    padding: 3px 7px;
    margin: 3px;
    text-align: center; 

    &:hover {
      border: 1px solid #EDD5D5;
      border-radius: 3px;
    }
  }

  li.active {
      border: 1px solid #EDD5D5;
      border-radius: 3px;
  }
}

span#todo-count {
  float: left;
}

a#clear_completed {
  float: right;
}

input[type=submit] {
  border-radius: 100%;
}